@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.897) !important;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 10;
    top: 0;
}


/* navbar */

.menu-items {
    color: rgba(231, 191, 191, 0.89);
    text-decoration: none;
    width: 120px;
    height: 100%;
    padding: 20px 0px;
}

.menu {
    height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.menu>a:hover {
    background-color: white;
    transition: 1.5s;
}

.menu>.active {
    font-weight: bolder;
    color: white;
}

.Logo {
    color: rgba(231, 191, 191, 0.89);
    text-decoration: none;
    width: 120px;
    height: 100%;
    padding: 20px 0px;
    background-color: transparent;
    text-align: center;
    float: left;
}


/* end navbar */


/* footer */

footer {
    text-align: center;
    padding: 3px;
    background-color: #D5CABD;
}

.footer {
    width: 100%;
    height: 60vh;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
}

.footer-content {
    width: 450px;
    height: 100%;
    margin: 0px 5px;
    padding: 10px;
    /* background-color: aliceblue; */
    color: gray;
}

.footer-content>div {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.footer-content>div>iframe {
    height: 250px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
}


/* footer end */


/* buttonenroll */

.Enrollbtn {
    font-size: 14px;
    float: right;
    margin-right: 10px;
    padding: 10px 24px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(80, 235, 72);
    outline: none;
    width: 50%;
    bottom: 5px;
    right: -5px;
    position: absolute;
}

.Enrollbtn:hover {
    background-color: whitesmoke;
    border: 1px solid rgb(80, 235, 72);
    transition-duration: 0.1s;
}

.Enrollbtn:active {
    background-color: darkgray;
    transition: 0s;
}

.Course_list {
    width: 25%;
    height: 100%;
    background-color: whitesmoke;
    position: fixed;
    z-index: 0;
}

.Course_list>ul {
    margin: 20px;
    line-height: 30px;
}

.Course_list>ul>li>a {
    text-decoration: none;
}

.Course_details {
    width: 73%;
    position: absolute;
    left: 26%;
}

.Course_details>section {
    padding: 5px 10px;
    border-bottom: 2px solid black;
}

.Cousrses {
    margin-top: 10vh;
    position: relative;
    height: 760vh;
}

.Course_img {
    border: 1px solid black;
    margin: 5px 20px;
}

.btn {
    font-size: 14px;
    margin-left: 85%;
    padding: 10px 24px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(80, 235, 72);
    outline: none;
    cursor: pointer;
}

.btn:active {
    background-color: darkgray;
    transition: 0s;
}


/* input */

.form-input {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #e6e8eb;
    border-radius: 5px;
    display: block;
    width: 100%;
    overflow: visible;
    line-height: 18px;
    padding: 10px 16px;
    min-height: 40px;
    font-size: .9rem;
    background-color: #fff;
    color: #495057;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* box-shadow: 12px 12px 2px 1px 1px 1px 6px 0px #16E418; */
}

.form-input:focus {
    box-shadow: 1px 1px 6px 0px #16E418;
}